*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: none;
    text-decoration: none;
 }
 body {
    background-color: #22223b;
     font-family: 'Varela Round', sans-serif;
     display: flex;
     align-items: center;
     justify-content: center;
 }
 .container {
    width: 800px;
    height: 500px;
    background-color: white;
    position: relative;
  }
  h1 {
    margin-bottom: 20px;
  }
  
  .game{
    font-style: inherit;
  }
  
  .content{
    padding: 50px;
  }
  
  .question{
    font-size: 40px;
  }
  
  .answer{
    font-size: 24px;
    margin-bottom: 20px;
    color: #333;
  }
  
  .submit{
    background-color: rebeccapurple;
    color: white;
    border: none;
    width: 100%;
    height: 50px;
    cursor: pointer;
    position: absolute;
    bottom: 0;
    font-size: 20px;
  }
  
  .result {
    display: none;
    padding: 50px;
    text-align: center;
  }
  
  .result h1{
    font-size: 50px;
  }
  
  .correct{
    color: green;
    padding: 20px;
  }
  
  .wrong{
    color: red;
    padding: 20px;
  }
  .score {
    padding: 20px;
  }
  
  .play{
    color: white;
    background-color: rebeccapurple;
    padding: 10px 20px;
    cursor: pointer;
    border: none;
  }